name: Deploy Flutter Web to Firebase Hosting

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'supabase/**' # Ignore backend changes to speed up build

jobs:
  build_and_deploy:
    runs-on: ubuntu-22.04
    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'


      - name: Install Dependencies
        run: flutter pub get

      - name: Build Web
        # Adjusted build command to avoid Wasm incompatibilities
        run: flutter build web --release --no-tree-shake-icons

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_SPARTAN_APP_F8A98 }}
          channelId: live
          projectId: spartan-app-f8a98
